{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br><br><h3 class="welcome-message text-center "> Welcome to <span style="color: cadetblue" >Quizzz</span> Application....!!!</h3>
    <div class="col-md-16 mt-5 ml-5">
        <div class="row justify-content-center">
            {% for course in courses %}
                <br>
                <div class="card w-25 ml-3">
                    <div class="card-body ">
                        <h2 class="card-title">{{course.course_name}}</h2>
                        <p class="card-text">{{course.description|slice:":50"|safe}}</p>
                        <a class="btn btn-info float-right" href="{% url 'quiz' course.id %}"
                           role="button">Start Quiz </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
<br><br>
</div>


{% endblock %}
